 .post {
     width: 60%;
     margin: 2em 0;
     border-radius: 35px;
     min-width: 30em;
     -webkit-box-shadow: 3px 2px 14px -3px rgba(0, 0, 0, 0.65);
     box-shadow: 3px 2px 14px -3px rgba(0, 0, 0, 0.65);


     .post-top {
         //  border: solid red 1px;
         display: flex;
         align-items: center;
         padding: 1em 1.6em;
         position: relative;
         border-bottom: 1px solid black;
         border-top-right-radius: 35px;
         border-top-left-radius: 35px;
         background-color: var(--primary-color);

         .post-profile-pic {
             border: solid 1px rgba(255, 255, 255, 0.562);
             width: 3em;
             object-fit: cover;
             border-radius: 50%;
         }

         .post-info {
             display: flex;
             flex-direction: column;
             margin-left: 1em;
             cursor: pointer;

             .post-username {
                 font-weight: 500;
                 font-size: 1.08rem;
                 color: white;
             }

             .post-date {
                 color: rgb(211, 206, 206);
                 font-size: .9rem;
             }
         }

         .delete-post-button {
             position: absolute;
             right: 1em;
             top: 1em;
             color: white;
             cursor: pointer;

             &:hover {
                 color: lightblue;
             }
         }
     }

     .post-center {
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;

         .post-text {
             width: 90%;
             max-width: 39em;
             font-size: 0.97rem;
             padding: 1.5em 1.5em;
             overflow-wrap: break-word;
         }

         .post-img-container {
             width: 100%;
             display: flex;
             flex-direction: column;
             //  align-items: center;
             border-top: 1px solid rgba(180, 180, 180, 0.315);
             border-bottom: 1px solid rgba(180, 180, 180, 0.315);

             .post-img {
                 width: 55%;
                 object-fit: contain;
                 margin: 0 auto;
                 max-width: 100%;
             }
         }

         .post-stats {
             width: 100%;
             color: rgb(128, 128, 128);
             display: flex;
             justify-content: center;
             font-size: 0.85rem;

             .post-stats-wrapper {
                 display: flex;
                 width: 95%;
                 justify-content: space-between;
                 align-items: center;
                 padding-top: 1.4em;
                 padding-bottom: 0.7em;
                 margin-bottom: 1em;
                 border-bottom: 1px solid rgb(180, 180, 180);

                 .post-like-counter {
                     display: flex;
                     cursor: pointer;

                     .like-count {
                         margin-left: 0.5em;
                     }
                 }

                 .post-comments {
                     cursor: pointer;
                 }
             }


         }
     }

     .post-options {
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;


         .post-options-wrapper {
             //  border: green 1px solid;
             width: 95%;
             display: flex;
             justify-content: space-around;
             color: rgb(128, 128, 128);
             padding-bottom: 1em;
             padding-top: .3em;
             //  border-bottom: 1px solid rgb(180, 180, 180);


             .post-option {
                 cursor: pointer
             }

         }
     }

 }